body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('bk.jpg') no-repeat center top;
  background-size: cover; /* 👈 BẮT BUỘC */
  background-attachment: fixed;
  min-height: 100vh; /* 👈 BẮT BUỘC */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
